{% extends 'main.html' %}

{% block content %}
<h1>Home Template</h1>
<div>
    <div>
      <a href="{% url 'createRoom' %}">Create a Room</a>
        {% for room in rooms %}
        <div>
          <a href="{% url 'updateRoom' room.id %}">Edit</a>
          <a>Delete</a>
          <div>@{{room.host.username}}</div>
          <h5>
            {{room.id}} --- 
            <a href="{% url 'room' room.id %}"> {{room.name}}</a>
        </h5>
        <small>{{room.topic.name}}</small>
        <hr/>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}